### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#? is this part of the assignment to look only at schools of type = district ???
#make list of schools, both district and charter
schools_list = school_data_complete["school_name"].unique()
schools_list

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [4]:
#count items in list of schools
schools_total_num = len(schools_list)
schools_total_num

15

In [5]:
#count total number of students
student_total_num= len(school_data_complete["Student ID"])
student_total_num

39170

In [6]:
#find total budget for all schools
#problem: depends on unique value for schools -- what if the budgets were identical for two schools?
total_budget_all_schools = school_data_complete["budget"].unique()
total_budget_all_schools = total_budget_all_schools.sum()
'{:20,.2f}'.format(total_budget_all_schools)

'       24,649,428.00'

In [7]:
#average math score for ALL schools
average_math_score_all = school_data_complete["math_score"].mean()
average_math_score_all

78.98537145774827

In [8]:
#percentage of passing math scores
passing_math_pct_all = school_data_complete.loc[school_data_complete["math_score"]>70]
passing_math_pct_all = passing_math_pct_all.count()
passing_math_pct_all = passing_math_pct_all[0]/student_total_num
'{:.0%}'.format(passing_math_pct_all)

'72%'

In [9]:
#average reading score for ALL schools
average_reading_score_all = school_data_complete["reading_score"].mean()
average_reading_score_all

81.87784018381414

In [10]:
#percentage of passing reading scores
passing_reading_pct_all = school_data_complete.loc[school_data_complete["reading_score"]>70]
passing_reading_pct_all = passing_reading_pct_all.count()
passing_reading_pct_all = passing_reading_pct_all[0]/student_total_num
'{:.0%}'.format(passing_reading_pct_all)

'83%'

In [11]:
#percentage of passing math and reading scores
passing_both_pct_all = school_data_complete.loc[(school_data_complete["reading_score"]>70)&(school_data_complete["math_score"]>70)]
passing_both_pct_all = passing_both_pct_all.count()
passing_both_pct_all = passing_both_pct_all[0]/student_total_num
'{:.0%}'.format(passing_both_pct_all)

'61%'

In [12]:
#repeat with data filtered to include type = district schools only

In [13]:
#filter school_data variable for district
district_schools = school_data.loc[school_data["type"]=="District"]
district_schools

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
3           3  Hernandez High School  District  4635  3022020
7           7     Bailey High School  District  4976  3124928
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916

In [14]:
#count type = district schools
number_district_schools = len(district_schools)
number_district_schools

7

In [15]:
#filter merged data frame for 'district' type only
district_schools_students_merge = school_data_complete.loc[school_data_complete["type"]=="District"]
district_schools_students_merge

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37530,37530,William Rivera,M,9th,Ford High School,63,59,13,District,2739,1763916
37531,37531,Bernard Reid,M,9th,Ford High School,94,80,13,District,2739,1763916
37532,37532,Dawn Sawyer,F,12th,Ford High School,91,66,13,District,2739,1763916
37533,37533,Thomas Knapp,M,12th,Ford High School,75,70,13,District,2739,1763916
37534,37534,Melissa Porter,F,9th,Ford High School,76,84,13,District,2739,1763916

In [16]:
#count total number of students in type = district schools
total_district_students = len(district_schools_students_merge["Student ID"])
total_district_students

26976

In [17]:
#2. sum budgets in filtered for district
#is this correct? or am I adding together 'budget' item in every row in new df
district_schools_total_budget = district_schools["budget"].sum()
district_schools_total_budget

17347923

In [18]:
#find total budget for all schools
#this confirms that above is getting right value, but I'm confused why
district_schools_total_budget = district_schools["budget"].unique()
district_schools_total_budget = district_schools_total_budget.sum()
#'{:20,.2f}'.format(district_schools_total_budget)

In [19]:
#average math scores in district schools only
average_math_score_district = district_schools_students_merge["math_score"].mean()
average_math_score_district

76.98702550415184

In [20]:
#percentage of passing math scores
passing_math_pct_district = district_schools_students_merge.loc[district_schools_students_merge["math_score"]>70]
passing_math_pct_district = passing_math_pct_district.count()
passing_math_pct_district = passing_math_pct_district[0]/student_total_num
#'{:.0%}'.format(passing_math_pct_district)

In [21]:
#average reading scores in district schools only
average_reading_score_district = district_schools_students_merge["reading_score"].mean()
average_reading_score_district

80.96248517200475

In [22]:
#percentage of passing reading scores
passing_reading_pct_district = district_schools_students_merge.loc[district_schools_students_merge["reading_score"]>70]
passing_reading_pct_district = passing_reading_pct_district.count()
passing_reading_pct_district = passing_reading_pct_district[0]/student_total_num
#'{:.0%}'.format(passing_reading_pct_district)

In [23]:
#percentage of passing reading scores
passing_both_pct_district = district_schools_students_merge.loc[(district_schools_students_merge["reading_score"]>70)&(district_schools_students_merge["math_score"]>70)]
passing_both_pct_district = passing_both_pct_district.count()
passing_both_pct_district = passing_both_pct_district[0]/student_total_num
#'{:.0%}'.format(passing_both_pct_district)

In [24]:
#summary dataframe
summary_df = pd.DataFrame({"# Total Schools": [schools_total_num],
                           "# District Schools": number_district_schools,
                            "Total # Students": student_total_num,
                            "# Stu.s in District Schools": total_district_students,
                            "Total Budget All Schools": '{:20,.2f}'.format(total_budget_all_schools),
                           "Total Budget District Schools": '{:20,.2f}'.format(district_schools_total_budget),
                            "Avg. Math ALL": average_math_score_all,
                           "Passing % ALL":'{:.0%}'.format(passing_math_pct_all),
                           "Avg. Math DISTRICT": average_math_score_district,
                            "Passing % District": '{:.0%}'.format(passing_math_pct_district),
                          "Avg. Reading ALL": average_reading_score_all,
                            "Passing Reading ALL": '{:.0%}'.format(passing_reading_pct_all),
                           "Avg. Reading DISTRICT": average_reading_score_district,
                           "Passing % DISTRICT": '{:.0%}'.format(passing_reading_pct_district),
                           "ALL: pass R&M %": '{:.0%}'.format(passing_both_pct_all),
                           "DISTRICT: pass R&M %": '{:.0%}'.format(passing_both_pct_district)
                          })
summary_df

,# Total Schools,# District Schools,Total # Students,# Stu.s in District Schools,Total Budget All Schools,Total Budget District Schools,Avg. Math ALL,Passing % ALL,Avg. Math DISTRICT,Passing % District,Avg. Reading ALL,Passing Reading ALL,Avg. Reading DISTRICT,Passing % DISTRICT,ALL: pass R&M %,DISTRICT: pass R&M %
0,15,7,39170,26976,"24,649,428.00","17,347,923.00",78.985371,72%,76.987026,44%,81.87784,83%,80.962485,54%,61%,35%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [25]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [26]:
#create new groupby object grouped by each school for all schools and pull total students
all_school_group = school_data_complete.groupby(["school_name"])
all_byschool_total = all_school_group["Student ID"].count()
all_byschool_total

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [27]:
#experiment with groupby: 
school_data_complete[["school_name", "Student ID"]].groupby(["school_name"]).count()

                       Student ID
school_name
Bailey High School           4976
Cabrera High School          1858
Figueroa High School         2949
Ford High School             2739
Griffin High School          1468
Hernandez High School        4635
Holden High School            427
Huang High School            2917
Johnson High School          4761
Pena High School              962
Rodriguez High School        3999
Shelton High School          1761
Thomas High School           1635
Wilson High School           2283
Wright High School           1800

In [28]:
#create new groupby object grouped by each school of type 'district' and pull total students

district_school_group = district_schools_students_merge.groupby(['school_name'])
district_school_group
district_byschool_total = district_school_group["Student ID"].count()
district_byschool_total

school_name
Bailey High School       4976
Figueroa High School     2949
Ford High School         2739
Hernandez High School    4635
Huang High School        2917
Johnson High School      4761
Rodriguez High School    3999
Name: Student ID, dtype: int64

In [29]:
#create new dataframe grouped by each school for all schools
all_byschool_budget = all_school_group["budget"].unique()
all_byschool_budget

school_name
Bailey High School       [3124928]
Cabrera High School      [1081356]
Figueroa High School     [1884411]
Ford High School         [1763916]
Griffin High School       [917500]
Hernandez High School    [3022020]
Holden High School        [248087]
Huang High School        [1910635]
Johnson High School      [3094650]
Pena High School          [585858]
Rodriguez High School    [2547363]
Shelton High School      [1056600]
Thomas High School       [1043130]
Wilson High School       [1319574]
Wright High School       [1049400]
Name: budget, dtype: object

In [30]:
#calculate by school average math score
all_byschool_math = all_school_group["math_score"].mean()
all_byschool_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [31]:
#better way
school_data_complete[["school_name", "math_score"]].groupby(["school_name"]).mean()

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

In [32]:
#calculate by school average reading score
all_byschool_reading = all_school_group["reading_score"].mean()
all_byschool_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [33]:
#better way?
school_data_complete[["school_name", "reading_score"]].groupby(["school_name"]).mean()

                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [34]:
#calculate by school % passing math
all_byschool_passmath_count = school_data_complete.loc[school_data_complete["math_score"]>69.9]
all_byschool_passmath_count = all_byschool_passmath_count[["school_name", "math_score"]].groupby("school_name").count()
all_byschool_passmath_count
all_byschool_passmath_count["math_score"]
all_byschool_passmath_pct = all_byschool_passmath_count['math_score']/all_byschool_total
all_byschool_passmath_pct
# all_byschool_count_total =school_data_complete[["Student ID"]].groupby(["school_name"]).count()
# all_byschool_math_pct = all_byschool_passmath_count/all_byschool_count_total
# all_byschool_math_pct

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [39]:
#calculate by school % passing math and reading
all_byschool_passboth_count = school_data_complete.loc[(school_data_complete["math_score"]>69.9)&(school_data_complete["reading_score"]>69.9)]
all_byschool_passboth_counts = all_byschool_passboth_count.groupby("school_name").count()
all_byschool_passboth_pct = all_byschool_passboth_counts["Student ID"]/ all_byschool_total
all_byschool_passboth_pct

school_name
Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
Name: Student ID, dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type